<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterPage_Panel.master.cs" Inherits="Master_MasterPage_Panel" %>
<!DOCTYPE html>
<html lang="ko">
 <head runat="server">
    <title> AUTO DEPOT ORDER SYSTEM </title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <link rel="stylesheet" href="/Common/css/common.css" />
    <link rel="stylesheet" href="/Common/css/sub.css" />
    <link rel="stylesheet" href="/Common/css/jquery-ui.css" />
     
    <script type="text/javascript" src="/Common/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/Common/js/jquery-ui.js"></script>
    <script type="text/javascript" src="/Common/js/nTextBox.js"></script>
    <script type="text/javascript" src="/Common/js/common.js"></script> 
    <script type="text/javascript" src="/Common/js/UserCommon.js"></script> 

    <asp:ContentPlaceHolder ID="ContentHead" runat="server">
    </asp:ContentPlaceHolder>
  <!--[if lt IE 9]>
	<script type="text/javascript" src="js/html5shiv.js"></script>
  <![endif]--> 
    <script type="text/javascript">

        //PlusNet 프로그램연결로 접속시 팝업창 사이즈 조정.
        /*
        window.onload = function ()
        {
            window.resizeTo("1220", "768");
        }
        */
    </script>
 </head>

 <body>
    <form runat="server">
    <asp:ScriptManager ID="ScriptManager" runat="server" EnableCdn="false" />
	<div>
        <header id="headnew" class="clear">
            <p class="user_aria f_r"><asp:Label ID="lblUpdateDaytime" runat="server"></asp:Label></p>
        </header>
		<header id="header" class="clear">
			<%--<h1 class="logo f_l" style="font-family:'맑은 고딕';font-size:25px;font-weight:600;color:#fff;">AUTO DEPOT ORDER SYSTEM</h1>--%>
            <a href="/Site/Blank.aspx"><asp:Image ImageUrl="/Images/Common/logo_ado.png" CssClass="logo f_l" runat="server" AlternateText="AUTO DEPOT ORDER SYSTEM"/></a>
			<p class="user_aria f_r">
				<span><span class="user_name"><asp:Label ID="lblUserSession" runat="server" Font-Bold="false">Anonymous</asp:Label></span>님 로그인하셨습니다</span>
                <asp:Button ID="btnLinkLogOut" runat="server" OnClientClick="return ConfirmLogOut();" OnClick="btnLogOut_Click" class="logout" Text="로그아웃" />
			</p>
		</header>
		<nav id="gnb">
			<ul>
            <asp:Repeater ID="rptMenu" runat="server" OnItemDataBound="rptMenu_ItemDataBound">
				<ItemTemplate>
				<li>
                    <asp:HyperLink ID="hlnMenu" runat="server"><%# Eval("MENU_GROUP_NM") %></asp:HyperLink>
					<ul>
                    <asp:Repeater ID="rptSubmenu" runat="server">
                        <ItemTemplate>
						    <li><asp:HyperLink ID="hlnSubmenu" runat="server" NavigateUrl='<%# Eval("MENU_URL") %>'><%# Eval("MENU_NM") %></asp:HyperLink></li>
                        </ItemTemplate>
                    </asp:Repeater>
					</ul>
				</li>
                </ItemTemplate>
            </asp:Repeater>
			</ul>
		</nav>
		<section id="content">
			<article id="location">
				<p><span class="dep1"><asp:Label ID="lblpath" runat="server" /></span><span class="level">&gt;</span><span class="dep2"><asp:Label ID="lblCurrentNoade" runat="server" /></span></p>
                <input type="hidden" id="hidMenuGroupCode" runat="server" />
			</article>
			<div class="content_aria">
            <asp:UpdatePanel ID="upContent" runat="server" UpdateMode="Conditional">
                <ContentTemplate>
                    <asp:ContentPlaceHolder id="ContentMain" runat="server">
                    </asp:ContentPlaceHolder>
                </ContentTemplate>
            </asp:UpdatePanel>
			</div>
		</section>
	</div>

<%--    <asp:UpdateProgress id="updateProgress" runat="server">
        <ProgressTemplate>--%>
            <div id="divProgress"  style="left:46%;position:absolute;top:50%;display:none;">
                <img src="/Images/common/loading_4.gif" alt="" style="width:110px;height:110px;" />
            </div>
<%--        </ProgressTemplate>
    </asp:UpdateProgress>--%>
    </form>

    <%--<script src="/Common/JavaScript/AjaxUpdatePanel.js" type="text/javascript"></script>--%>

 </body>
</html>
