<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterPageTabSub.master.cs" Inherits="Master_MasterPageTabSub" Debug="false" %>
<!DOCTYPE html>
<html lang="ko">
 <head runat="server">
    <meta charset="utf-8" http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title>Auto Depot Order</title>
    <link rel="stylesheet" href="/Common/css/common.css" />
    <style>
    /* ############## 그리드 헤더 고정용 ############## */
    .gblTblFixArea {
        border: 1px solid #000;
        position: relative;
        padding-top: 32px; /* gblTblFixHeader height값 */
    }

    .gblTblFixHeader {
        height: 35px; /* gblTblFixHeader height값 */
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        background-color:#f6f6f6;
    }

    .gblTblFixContent {
        overflow-x: hidden;
        overflow-y: auto;
        height: 100%;
    }

    .gblTblFixHdTxt {
        border: 1px solid #cccccc;
        position: absolute;
        top: 0;
        width: inherit;
        line-height: 42px; /* gblTblFixHeader height값 */
        background-color:#f6f6f6;
        text-align:center;
    }

    /* ############## 2열 그리드 헤더 고정용 ############## */
    .gblTblFixArea2row {
        border: 1px solid #000;
        position: relative;
        padding-top: 64px; /* gblTblFixHeader height값 */
    }

    .gblTblFixHeader2row {
        height: 70px; /* gblTblFixHeader height값 */
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        background-color:#f6f6f6;
    }

    .gblTblFixContent2row {
        overflow-x: hidden;
        overflow-y: auto;
        height: 100%;
    }

    .gblTblFixHdTxt2row {
        border: 1px solid #cccccc;
        position: absolute;
        top: 0;
        width: inherit;
        line-height: 72px; /* gblTblFixHeader height값 */
        background-color:#f6f6f6;
        text-align:center;
    }

    </style>
    <link rel="stylesheet" href="/Common/css/sub.css" />
    <link rel="stylesheet" href="/Common/css/jquery-ui.css" />
    <script type="text/javascript" src="/Common/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/Common/js/jquery-ui.js"></script>
    <script type="text/javascript" src="/Common/js/nTextBox.js"></script>
    <script type="text/javascript" src="/Common/js/common.js"></script>
    <script type="text/javascript">
        var _Global_UserGroup = '<%=SessionAuth.GetUserInfo(Moamam.Data.Common.UserInfoType.UserGroupCode).ToString()%>';

        function jsfn_progressBarMst(str) {
            if (str == 'Y') {
                $('#divProgress4Mstjs').css("display", "block");
            } else {
                $('#divProgress4Mstjs').css("display", "none");
            }
        }
        function jsfn_G_BtnChkAuth(strId) {
            if (_Global_UserGroup != '1'&&_Global_UserGroup != '2') {
                var arr_btn_id = strId.split('|');
                for (var i = 0; i < arr_btn_id.length; i++) {
                    var str_btn_id = arr_btn_id[i];
                    $("#" + str_btn_id).css('display', 'none');
                }
            }
        }
        function jsfn_G_ShowChkAuth() {
            if (_Global_UserGroup != '1' && _Global_UserGroup != '2') {
                jsfn_alertClose('리포트 권한으로는 조회가 불가능 합니다.');
                return false;
            } else {
                return true;
            }
        }
        // readonly 의 배경색상을 변경
        $(document).ready(function () {
            jsfn_setScreenHeight();
            jsfn_setTopMenuChkGlobal();
            jsfn_G_BtnChkAuth('btnUpload|btnAddITEM|btnPop1Save|btnPop1Delete');
            $('form input[type="text"]').each(function (i, e) {
                if ($(e).attr('readonly') == 'readonly') {
                    $(e).css('background-color', '#EBEBE4');
                }
            });
        });
        function jsfn_ExcelDownloadLimit() {
            var _rtn = true;
            try {
                var _ExcelLimiteCnt = $("#LyCus_hidTotal").val();
                if (_ExcelLimiteCnt > 50000) {
                    jsfn_alert('엑셀 다운로드는 최대 5만건까지만 다운 로드 가능합니다.');
                    _rtn = false;
                }
            } catch (e) {

            }
            if (_rtn && !confirm('다운로드 하시겠습니까?')) {
                _rtn = false;
            }
            return _rtn;
        }
        function jsfn_SetTitleHS() {

            if ($('#Ly_CommonHeaderArea').css("display") != 'none') {
                $('#Ly_CommonHeaderArea').css("display", "none");
                if (window.screen.height == 768) { $("#Ly_grid1Scroll").css('height', '450px'); }
                $('#LyH_C_Text').text('상단 보이기');
            } else {
                $('#Ly_CommonHeaderArea').css("display", "block");
                $('#LyH_C_Text').text('상단 숨기기');
                if (window.screen.height == 768) { $("#Ly_grid1Scroll").css('height', '345px'); }
            }
        }
        function jsfn_setScreenHeight() {
            var _topMenu = "120";
            var _SearchArea = "120";
            var _ContHeader = "30";
            var _Show_contHeight = window.screen.height - parseInt(_topMenu) - parseInt(_SearchArea) - parseInt(_ContHeader);
            if (window.screen.height == 768) { $("#Ly_grid1Scroll").css('height', '335px'); }
            else if (window.screen.height == 1080) { $("#Ly_grid1Scroll").css('height', '600px'); }
            else if (parseInt(_Show_contHeight) > 500) {
                $(".content_aria").css('height', _Show_contHeight + 'px');
            } else {
                $(".content_aria").css('height', _Show_contHeight + 'px');
            }
        }

        function jsfn_setTopMenuChkGlobal(){
            var _G_GlobalMenuChk = $("#hdnGlobalMenuChk", parent.document).val();
            if (_G_GlobalMenuChk != '1') { parent.document.location.href = '/Site/Blank.aspx?G=<%=Session["groupCd"]%>&M=<%=Session["menuCd"]%>'; }
        }
    </script>
     
     <script src="/Common/js/jquery.bpopup.min.js"></script>
     <script src="/Common/js/jquery.toastmessage.js"></script>
     <link href="/Common/css/jquery.toastmessage.css" rel="stylesheet" />
     <script type="text/javascript">
         function jsfn_AjaxError(x, e) {
             if (x.status == 0) {
                 $().toastmessage('showErrorToast', '오프라인 상태입니다. 네트워크를 확인하세요');
             } else if (x.status == 404) {
                 $().toastmessage('showErrorToast', 'Requested URL not found.');
             } else if (x.status == 500) {
                 $().toastmessage('showErrorToast', 'Internel Server Error. 서버에러 입니다.관리자에게 문의 해주세요.');
             } else if (e == 'parsererror') {
                 $().toastmessage('showErrorToast', 'Error.nParsing JSON Request failed. JSON Data에 문제가있습니다. 관리자에게 문의 해주세요.');
             } else if (e == 'timeout') {
                 $().toastmessage('showErrorToast', 'Request Time out. 서버에 과부하가 걸린듯 합니다. 잠시후 다시 시도해 주세요.');
             } else {
                 $().toastmessage('showErrorToast', 'Unknow Error.\n' + x.responseText + '\n위 내용을 캡처해서 관리자에게 문의 해주세요.');
             };
             //$().toastmessage('showToast', x.responseText + '\n' + e);
         }
         function jsfn_alert(msg) {
             $().toastmessage('showToast', {
                 text: msg,
                 sticky: true,
                 position: 'top-center',
                 type: 'warning',
                 closeText: '',
                 close: function () { console.log("닫기..."); }
             });
         }
         function jsfn_alert2(msg , position) {
             $().toastmessage('showToast', {
                 text: msg,
                 sticky: true,
                 position: position,    //'middle-center' 
                 type: 'warning',
                 closeText: '',
                 close: function () { console.log("닫기..."); }
             });
         }
         function jsfn_alertClose(msg) {
             $().toastmessage('showToast', {
                 text: msg,
                 sticky: false,
                 position: 'top-center',
                 type: 'notice',
                 closeText: '',
                 close: function () { console.log("toast is closed ..."); }
             });
         }
     </script>
    <asp:ContentPlaceHolder ID="ContentHead" runat="server"></asp:ContentPlaceHolder>
    <%--
     <!--[if lt IE 9]>
    <script type="text/javascript" src="js/html5shiv.js"></script>
    <![endif]-->--%>
 </head>
<body style="background-color:white;padding-top:5px;padding-right:2px;overflow-x:hidden;overflow-y:hidden !important;">
<form id="form1" runat="server">
<asp:ScriptManager ID="ScriptManager" runat="server" EnableCdn="false" />
    <div id="divProgress4Mstjs" class="dvProgressMst" style="position:absolute;top:50%;left:46%;z-index:999;width:110px;height:110px;display:none;"><img src="/Images/common/loading_4.gif" alt="" style="width:110px;height:110px;"></div>
    <asp:ContentPlaceHolder id="ContentMain" runat="server">
    </asp:ContentPlaceHolder>
</form>
</body>
</html>
